<template>
  <first-task></first-task>
</template>

<style lang="scss">
    .align-self-center {
        margin: 0 auto !important;
    }
</style>

<script>
/* eslint-disable */

import FirstTask from '@/pages/tasks/week1'

export default {
  components: {
    FirstTask
  },

  data:() => ({
    css_code: '',
  }),

  created() {

  }
};
</script>
