<template>
    <v-container row wrap justify-start align-start class="align-self-center" mt-12>
        <v-flex xs12>
            <h1 class="title">Week 4</h1>
            <span class="subtitle-1">Creating the Hello Board</span><br><br>
            <p class="body-1">
                In this task we worked on creating our first PCB using a premade design from Eagle and the CNC milling machine. The first step to creating my first PCB was to export the files from Eagle and prepare them for the milling machine. To do this I had to deactivate all the labels in eagle and only show the layers for 'Top' and 'Pad'. Then I centered the pcb inside the View and exported it as an Image with the specified settings shown in the Image below.
            </p>
            <v-row justify="center">
                <v-col sm="6" cols="12" md="4">
                    <v-img src="assets/tasks/week4/eagle_labels.jpg"></v-img>
                </v-col>
                <v-col sm="6" cols="12" md="4">
                    <v-img src="assets/tasks/week4/visible_layers.jpg"></v-img>
                </v-col>
                <v-col sm="6" cols="12" md="4">
                    <v-img src="assets/tasks/week4/export_settings.jpg"></v-img>
                </v-col>
            </v-row>
            <br><br>
            <p class="body-1">
                Then I headed over to Gimp and Cropped the images to fit the pcb. I also created another Image for the External Cutout using the Rectangle Select tool, Rounding its edges and filling it white. The following Images in Order are the Full Schematics, the Internal Traces and the external file.
            </p>
            <v-row justify="center">
                <v-col sm="6" cols="12" md="4">
                    <v-img src="assets/tasks/week4/internal_color.png"></v-img>
                </v-col>
                <v-col sm="6" cols="12" md="4">
                    <v-img src="assets/tasks/week4/internal.png"></v-img>
                </v-col>
                <v-col sm="6" cols="12" md="4">
                    <v-img src="assets/tasks/week4/external.png"></v-img>
                </v-col>
            </v-row>
            <br><br>
            <p class="body-1">
                After that I headed over to <a href="http://fabmodules.org/" target="_blank">fabmodules.org</a> to calculate the traces for the milling machine. There I selected the internal traces file for the input, the 'Roland Mill' as output format and 'PCB traces (1/64)' as the process. For the external file I changed the process to 'PCB outline (1/32)'. For the Machine I selected the MDX-40 and set x0, y0 and z0 to Zero. I left all the other settings unchanged and hit Calculate.
            </p>
            <v-row justify="center">
                <v-col sm="6" cols="12" md="4">
                    <v-img src="assets/tasks/week4/traces.jpg"></v-img>
                </v-col>
                <v-col sm="6" cols="12" md="4">
                    <v-img src="assets/tasks/week4/cutout.jpg"></v-img>
                </v-col>
            </v-row>
            <br><br>
            <p class="body-1">
                After that I headed over to the milling machine. After screwing in the correct bit I setup the origin point for the milling machine and started the cutting process.
            </p>
            <v-row justify="center">
                <v-col sm="6" cols="12" md="6">
                    <div class="video-holder">
                        <video autoplay loop class="video inline-video" style="width:100%;">
                            <source src="assets/tasks/week4/milling.mp4" type="video/mp4">
                        </video> 
                    </div>
                </v-col>
            </v-row><br><br>
            <p class="body-1">
                Once the cutting had finished after multiple tries, because the Copper Plate was uneven I headed over to the soldering station to solder the parts to the PCB.
            </p>
            <v-row justify="center">
                <v-col sm="6" cols="12" md="4">
                    <v-img src="assets/tasks/week4/soldering.jpg"></v-img>
                </v-col>
            </v-row><br><br>
            <p class="body-1">
                After this I followed the instructions of the hello board and connected it to the arduino only to realise that the reset pin wasnt soldered correctly to the microcontroller. One quick soldering fix later I reconnected it and installed the arduino bootloader onto the microchip. Now I was able run the Blink Example from the Arduino IDE on this PCB. The finished result of the connected Hello Board can be seen in the image below.
            </p>
            <v-img src="assets/tasks/week4/finished.jpg"></v-img>
            <br><br>
            <h2>Ressources</h2>
            <v-btn color="primary" href="https://drive.google.com/drive/folders/1kghB7a4oX7TJyN9jnG4cvd7DXWS2lxbc" target="_blank">Hello Board</v-btn>
        </v-flex>
    </v-container>
</template>

<style lang="scss">
    .inline-video {
        position: relative !important;
    }
</style>

<script>
/* eslint-disable */

export default {
  
};
</script>