<template>
    <v-container row wrap justify-start align-start class="align-self-center" mt-12>
        <v-flex xs12>
            <h1 class="title">Week 7</h1>
            <span class="subtitle-1">Programming the Tiltboard of Week 6</span><br><br>
            <p class="body-1">
                To work with the MPU without an Interrupt pin I followed the instructions of <a href="https://forum.arduino.cc/index.php?topic=408980.0" target="_blank">this</a> forum and used a great part of the code to get the MPU to work with my board.
            </p>
            <prism-highlight path="assets/tasks/week7/mpu_code.txt" lang="arduino" :lines="17"></prism-highlight>
            <br><br>
            <p class="body-1">
                The following snippet which can be seen in lines 12, 65-75 and 80-82 of the original code are added to make the LED light up where the MPU6050 is tilted towards. The function 'getId' returns the corresponding LED pin on a 9x9 grid given by two positions between 0 and 2.
            </p>
            <prism-highlight path="assets/tasks/week7/mpu_snippet.txt" lang="arduino" :lines="17"></prism-highlight>
            <br><br>
            <p class="body-1">
                The result of how this looks may be seen in the clip below.
            </p>
            <v-row justify="center">
                <v-col sm="6" cols="12" md="6">
                    <div class="video-holder">
                        <video controls loop class="video inline-video" style="width:100%;">
                            <source src="assets/tasks/week6/thumbnail.mp4" type="video/mp4">
                        </video> 
                    </div>
                </v-col>
            </v-row>
        </v-flex>
    </v-container>
</template>

<style lang="scss">
    .inline-video {
        position: relative !important;
    }
</style>

<script>
/* eslint-disable */

export default {
  
};
</script>