<template>
  <v-app>
    <v-app-bar
      absolute
      color="#6A76AB"
      dark
      shrink-on-scroll
      prominent
      :src="require('@/assets/images/header.jpg')"
      fade-img-on-scroll
      scroll-target="#scrolling-techniques-2"
      app
    >
      <template v-slot:img="{ props }">
        <v-img v-bind="props" gradient="to top right, rgba(100,115,201,.7), rgba(25,32,72,.7)"></v-img>
      </template>

      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>{{ $route.name | capitalize }}</v-toolbar-title>

      <div class="flex-grow-1"></div>

      <v-btn icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn>

      <template v-slot:extension>
        <v-tabs align-with-title background-color="transparent">
          <v-tab to="/">Home</v-tab>
          <v-tab to="/about">About</v-tab>
          <v-tab to="/tasks">Tasks</v-tab>
        </v-tabs>
      </template>
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      absolute
      dark
      :src="require('@/assets/images/sidebar.jpg')"
      temporary
      floating
    >
      <v-list-item>
        <v-list-item-avatar>
          <v-img :src="profile_picture"></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>Jonathan Indetzki</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list>
        <v-list-item to="/">
          <v-list-item-content>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/about">
          <v-list-item-content>
            <v-list-item-title>About</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/tasks">
          <v-list-item-content>
            <v-list-item-title>Tasks</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-content id="scrolling-techniques-2">
      <v-scroll-y-transition mode="out-in">
        <router-view></router-view>
      </v-scroll-y-transition>
    </v-content>
  </v-app>
</template>

<style lang="scss">
  .inline-variable-block {
    background-color: #4d4d4d;
    color: #ecb017 !important;
    padding:5px 10px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: #2d2d2d;
    }
  }
</style>

<script>
  export default {
    name: 'App',
    components: {

    },
    data: () => ({
      drawer: false,
      profile_picture: `https://api.adorable.io/avatars/50/${Math.random().toString(36).substring(7)}.png`,
    }),
    filters: {
      capitalize: function (value) {
        if (!value) return ''
        value = value.toString()
        return value.charAt(0).toUpperCase() + value.slice(1)
      }
    }
  };
</script>