<template>
    <v-container row wrap justify-start align-start class="align-self-center" mt-12>
        <v-flex xs12>
            <h1 class="title">Week 2</h1>
            <span class="subtitle-1">Using Libre and Fusion360 to visualize the prototype for the final project.</span><br><br>
            <p class="body-1">
                First I created a sketch in LibreCAD. To Represent the RaspberryPI I downloaded the <a href="https://www.raspberrypi.org/documentation/hardware/raspberrypi/mechanical/README.md" target="_blank">Mechanical Drawing</a> from RasperryPI's page.
            </p>
            <div class="d-flex justify-center">
                <v-img :max-width="600" src="assets/tasks/week2/draft_libre.jpg"></v-img>
            </div>
            <br><br>
            <p class="body-1">
                The first sketch gave me an oversight of what I wanted to do in Fusion360. So I headed over to Fusion360 and started Modelling. As it seemed like the most complicated part of the 3D Model, I created the wheel first. I created a sketch for the wheel and used the 'clone around circle' tool to create the spokes.
            </p>
            <v-row justify="center">
                <v-col sm="7" md="3" cols="12">
                    <v-img src="assets/tasks/week2/clone_circle.jpg"></v-img>
                </v-col>
            </v-row>
            <br>
            <p class="body-1">
                The Final Result for the Wheelsketch then looked like this.
            </p>
            <v-row justify="center">
                <v-col sm="7" md="3" cols="12">
                    <v-img src="assets/tasks/week2/circle.jpg"></v-img>
                </v-col>
                <v-col sm="7" md="3" cols="12">
                    <v-img src="assets/tasks/week2/wheel.jpg"></v-img>
                </v-col>
            </v-row>
            <br>
            <p class="body-1">
                I then created the Box to Contain the RaspberryPI. For that I made use of the Mirror and the Clone Rectangle Tool. I used the Clone by Rectangle Tool to reduce the workload of drawing every Edge first and then Mirrored the Object so that I would only have to do half the Object.
            </p>
            <v-row justify="center">
                <v-col sm="7" md="3" cols="12">
                    <v-img src="assets/tasks/week2/clone_rect.jpg"></v-img>
                </v-col>
                <v-col sm="7" md="3" cols="12">
                    <v-img src="assets/tasks/week2/mirror.jpg"></v-img>
                </v-col>
                <v-col sm="7" md="3" cols="12">
                    <v-img src="assets/tasks/week2/constrained_box.jpg"></v-img>
                </v-col>
            </v-row>
            <br><br>
            <p class="body-1">
                Next I created the containing Box for the contents and the RaspberryPI. And Added tubes that might represent the motors that power the wheels. Then I downloaded a Fusion360 Project of the RaspberryPI <a href="https://gallery.autodesk.com/fusion360/projects/124986/raspberry-pi-3-bplus?searched=" target="_blank">here</a> and Included it into the Box. I added holes at the top of the Box to so the Usb-Ports of the RaspberryPI are exposed. After that I added Materials to the Model and created a final render of the project.
            </p>
            <v-row>
                <v-col sm="4" cols="12">
                    <v-img src="assets/tasks/week2/box.jpg"></v-img>
                </v-col>
                <v-col sm="4" cols="12">
                    <v-img src="assets/tasks/week2/py.jpg"></v-img>
                </v-col>
                <v-col sm="4" cols="12">
                    <v-img src="assets/tasks/week2/final_1.jpg"></v-img>
                </v-col>
            </v-row>
            <br><br>
            <p class="body-1">
                This is the Image of the Final Render.
            </p>
            <v-img src="assets/tasks/week2/final_2.jpg"></v-img>
            <br><br>
            <h2>Downloads</h2>
            <v-btn color="primary" href="assets/tasks/week2/drawing.dxf">Libre File</v-btn>
            <span>&nbsp;</span>
            <v-btn color="primary" href="assets/tasks/week2/fusion_wheel.f3d">Fusion360 File</v-btn>
        </v-flex>
    </v-container>
</template>


<script>
/* eslint-disable */

export default {
  
};
</script>
