<template>
    <v-container row wrap justify-start align-start class="align-self-center" mt-12>
        <v-flex xs12>
            <h1 class="title">Getting Started</h1>
            <span class="subtitle-1">Exploring the possibilities of GitlabCI</span><br><br>
            <p class="body-1">
                This Page was setup using <a href="https://vuejs.org/" target="_blank">Vue</a> and <a href="https://vuetifyjs.com/en/" target="_blank">Vuetify</a>
            </p>
            <p class="body-1">
                Start by cloning the repository
            </p>
            <prism-highlight code="git clone https://gitlab.com/jonathanindetzki/digital-fabrication.git" lang="shell-session"></prism-highlight><br>
            <p class="body-1">
                To make Vue work with the GitlabCI the first thing you must do is change the publicPath inside the <a href="https://gitlab.com/jonathanindetzki/digital-fabrication/blob/master/vuepage/vue.config.js" class="inline-variable-block" target="_blank">vue.config.js</a> to the path of the Gitlab directory.
            </p>
            <prism-highlight :path="'assets/tasks/week1/vue.config.js.txt'" :lines="6" lang="javascript"></prism-highlight><br>
            <p class="body-1">
            The content of the <a href="https://gitlab.com/jonathanindetzki/digital-fabrication/blob/master/.gitlab-ci.yml" target="_blank" class="inline-variable-block">.gitlab-ci.yml</a> should look as follows:
            </p>
            <prism-highlight :path="'assets/tasks/week1/gitlab-ci.yml.txt'" :lines="16" lang="yml"></prism-highlight><br>
            <h1 class="subtitle-1">Using Vue</h1>
            <p class="body-1">Vue is a component based Framework. Every Component contains three codeblocks, one for each the html, the style and the script.</p>
            <prism-highlight path="assets/tasks/week1/vue.txt" lang="html" :lines="17"></prism-highlight>
            <p class="body-1">
                The Code visible on this page is styled using <a href="https://prismjs.com/" target="_blank">PrismJS</a>. It is saved as a textdocument in a shared Directory and loaded into the page using <a href="https://github.com/axios/axios" target="_blank">AxiosJS</a>. Then it is processed by PrismJs and rendered in a <span v-text="'<pre>'"></span> tag.
            </p>
        </v-flex>
    </v-container>
</template>


<script>
/* eslint-disable */

export default {
  
};
</script>
