<template>
    <v-container row wrap justify-start align-start class="align-self-center" mt-12>
        <v-flex xs12>
            <h1 class="title">Week 3</h1>
            <span class="subtitle-1">Creating the Mystery Box™ using Fusion360 and a Lasercutter</span><br><br>
            <p class="body-1">
                When working with a Lasercutter the first thing one must do is account for the kerf. So the first thing I did was to try to print two of the cornerparts using a kerf that would bind them together strongly enough that I could stick the whole thing together without using glue, but also weak enough so that I wouldnt have to use tools or a lot of force to attach them to each other. The following Image shows the drawing I made in Fusion360.
            </p>
            <div class="d-flex justify-center">
                <v-img :max-width="600" src="assets/tasks/week3/skizze.jpg"></v-img>
            </div><br><br>
            <p class="body-1">
                I finally figured that the best and strongest Kerf for this Project would be a Kerf of 0.3mm. This would hold everything together very strongly. For some projects this might be too much, because there was still alot of force necessary to put it together, but it worked out quite well for the Mystery Box™.
                The following sketch might seem somewhat overconstrained, but changing the kerf now worked like a charm. The only thing I had to do now whas to change the variable for the Kerf.
            </p>
            <v-row justify="center">
                <v-col sm="6" cols="12" md="4">
                    <v-img src="assets/tasks/week3/contrained.jpg"></v-img>
                </v-col>
                <v-col sm="6" cols="12" md="4">
                    <v-img src="assets/tasks/week3/parameters.jpg"></v-img>
                </v-col>
            </v-row>
            <br><br>
            <p class="body-1">
                To use the Lasercutter properly I had to account for 3 Major Settings. Power, Frequency and Speed. Power and Speed are proportionate to one another. Lower the Power and you will have to Lower the Speed to be able to Cut through the Material. If the Power is Higher you can use Higher speeds. In General though I almost needed to max out the Power and Lower the Speed to 3% to Cut through the wood. The Frequency varies from Material to Material. Generally requiring high frequencies for Materials like Plastic and Low Frequencies for Materials like wood. Using a High frequency on wood would result in Burning it. The Interface of the Printer Settings for the Lasercutter let me distinguish between Vector and Raster Designs. Choosing Vector will Result in Cutting and choosing Raster will engrave the Design.
            </p>
            <br><br>
            <p class="body-1">
                After working out how large the parts had to be I created the Design for the Engraving of the Mystery Box™ in Adobe Illustrator.
            </p>
            <v-row justify="center" align="center">
                <v-col sm="4" md="3" cols="12">
                    <v-img src="assets/tasks/week3/zeichnung.jpg"></v-img>
                </v-col>
                <v-col sm="4" md="3" cols="12">
                    <v-responsive :aspect-ratio="16/9">
                        <video autoplay loop style="width:100%; height:auto">
                            <source src="assets/tasks/week3/gravieren.mp4" type="video/mp4">
                        </video>
                    </v-responsive>
                </v-col>
            </v-row><br><br>
            <p class="body-1">
                After that it was just a matter of putting it all together.
            </p>
            <v-row justify="center" align="center">
                <v-col sm="4" md="3" cols="12">
                    <v-img src="assets/tasks/week3/finished_1.jpg"></v-img>
                </v-col>
                <v-col sm="4" md="3" cols="12">
                    <v-img src="assets/tasks/week3/finished_2.jpg"></v-img>
                </v-col>
                <v-col sm="4" md="3" cols="12">
                    <v-img src="assets/tasks/week3/finished_3.jpg"></v-img>
                </v-col>
            </v-row>
            <br><br>
            <h2>Downloads</h2>
            <v-btn color="primary" href="assets/tasks/week3/box.dxf">DXF File</v-btn>
            <span>&nbsp;</span>
            <v-btn color="primary" href="assets/tasks/week3/MysteryBox.ai">Illustrator File</v-btn>
        </v-flex>
    </v-container>
</template>


<script>
/* eslint-disable */

export default {
  
};
</script>