<template>
    <v-container row wrap justify-start align-start class="align-self-center" mt-12>
        <v-flex xs12>
            <h1 class="title">Week 6</h1>
            <span class="subtitle-1">Creating my first own PCB</span><br><br>
            <p class="body-1">
                Before I created my first PCB I thought about what I wanted to achieve. The key Objective was to create a PCB with which I could easily test the Accelerometer and have an easy representation of an output. After that I headed over to Eagle and created the Schematics. The main components I needed where 9 LED`s aligned in a grid, the MPU6050 and the ATmega328. I also added a Crystal to have the Clock running at 16Mhz instead of 8Mhz. The following Image shows the schematics for the board in Eagle. For the Circuitboard I used a clearance of 17mil which allowed me to run traces under the resistors of the leds or the capacitors close to the VCC pin of the Microcontroller.
            </p>
            <v-row justify="center">
                <v-col cols="12" sm="6" md="6">
                    <v-img src="assets/tasks/week6/schematics.jpg"></v-img>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                    <v-img src="assets/tasks/week6/clearance.jpg"></v-img>
                </v-col>
            </v-row><br><br>
            <p class="body-1">
                I had a few troubles aligning the Leds and the Connector for Programming the chip, but after trying a few ideas I came up with the following Design for my pcb.
            </p>
            <v-row justify="center">
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week6/full.png"></v-img>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week6/inside_traces.png"></v-img>
                </v-col>
            </v-row><br><br>
            <p class="body-1">
                After creating the Design I headed over to the milling machine using the same steps as described in Week 4. Below are the Images of the Traces, the Outlines and the soldered PCB.
            </p>
            <v-row justify="center">
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week6/rm_traces.jpg"></v-img>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week6/rm_cutout.jpg"></v-img>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week6/without_leds.jpg"></v-img>
                </v-col>
            </v-row><br><br>
            <p class="body-1">
                Because I wanted to use the MISO, MOSI and SCK pins as output pins for the LEDs I only added the LED for the SCK pin when soldering and connected the PCB as seen in Week 4 to Programm is using the Arduino as ISP. I then burnt the Arduino Bootloader onto the board so I could use the TXD and RXD Pins for Programming. After that I soldered the rest of the LEDs onto the board.
            </p>
            <v-row justify="center">
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week6/connected.jpg"></v-img>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week6/all_leds.jpg"></v-img>
                </v-col>
            </v-row><br><br>
            <p class="body-1">
                I then tested if all the LEDs worked.
            </p>
            <v-row justify="center">
                <v-col sm="6" cols="12" md="6">
                    <div class="video-holder">
                        <video controls loop class="video inline-video" style="width:100%;">
                            <source src="assets/tasks/week6/led_test.mp4" type="video/mp4">
                        </video> 
                    </div>
                </v-col>
            </v-row><br><br>
            <p class="body-1">
                Seeing that they all worked, I hooked up the MPU6050 and programmed it to light up the LED where it was tilting. The final result can be seen below. The code for this part can be seen in the next assignment.
            </p>
            <v-row justify="center">
                <v-col sm="6" cols="12" md="6">
                    <div class="video-holder">
                        <video controls loop class="video inline-video" style="width:100%;">
                            <source src="assets/tasks/week6/thumbnail.mp4" type="video/mp4">
                        </video> 
                    </div>
                </v-col>
            </v-row><br><br>
            <h2>Ressources</h2>
            <v-btn color="primary" href="assets/tasks/week6/tiltboard.zip" target="_blank">Tiltboard.zip</v-btn>
        </v-flex>
    </v-container>
</template>

<style lang="scss">
    .inline-video {
        position: relative !important;
    }
</style>

<script>
/* eslint-disable */

export default {
  
};
</script>