<template>
  <v-container row wrap justify-start align-start class="align-self-center" mt-12>
      <v-row>
          <v-col
            cols="12"
            sm="6"
            md="4"
            lg="3"
            v-for="(task, i) in tasks"
            :key="i"
          >
            <router-link :to="task.path" class="image-link">
                <v-hover>
                    <template v-slot:default="{ hover }">
                        <template v-if="task.image_type=='image'">
                            <v-img :src="task.image" :aspect-ratio="1" v-ripple>
                                <v-container justify-center align-center>
                                    <h1 class="title-1">{{ task.name }}</h1>
                                </v-container>
                                <v-fade-transition>
                                    <v-overlay
                                            v-if="hover"
                                            absolute
                                            color="#000"
                                        >
                                    <v-btn color="primary">Read More</v-btn>
                                </v-overlay>
                                </v-fade-transition>
                            </v-img>
                        </template>
                        <template v-else-if="task.image_type=='video'">
                            <v-responsive :aspect-ratio="1">
                                <div class="video-holder">
                                    <video autoplay loop class="video">
                                        <source :src="task.image" type="video/mp4">
                                    </video>
                                    <v-container justify-center align-center class="title-container">
                                        <h1 class="title-1">{{ task.name }}</h1>
                                    </v-container>
                                    <v-fade-transition>
                                        <v-overlay
                                            v-if="hover"
                                            absolute
                                            color="#000"
                                        >
                                            <v-btn color="primary">Read More</v-btn>
                                        </v-overlay>
                                    </v-fade-transition>
                                </div>
                            </v-responsive>
                        </template>
                    </template>
                </v-hover>
            </router-link>
          </v-col>
      </v-row>
  </v-container>
</template>

<style lang="scss">
    .align-self-center {
        margin: 0 auto !important;
    }

    .image-link {
        color: white !important;
        text-decoration:none;
    }

    .video-holder {
        position:relative;
        width:100%;
        height:100%;
        z-index:0;
    }

    .title-container {
        position:relative;
        z-index:1;
    }

    .video {
        z-index:0;
        position: absolute;
        top: 50%; 
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        min-width: 100%; 
        min-height: 100%; 
        width: auto; 
        height: auto;
        max-width: 150%;
        max-height: 150%;
    }
</style>

<script>
export default {
    data: () => ({
        tasks: null,
    }),

    beforeRouteEnter (to, from, next) {
        next(vm => {
            vm.$http.get('assets/tasks/list.json').then(response => {
                vm.tasks = response.data;
            });
        })
    }
}
</script>