<template>
    <pre v-if="!loading" :class="`code-container line-numbers language-${lang}`"><code ref="codeBlock" :class="`language-${lang}`"><span v-html="formatted"></span><span class="line-numbers-rows" aria-hidden="true"><span v-for="i in numLines" :key="i"></span></span></code></pre>
    <v-skeleton-loader
        v-else
        :boilerplate="false"
        ref="skeleton"
        :type="`text@${num_lines}`"
        :class="`code-container code-skeleton language-${lang}`"
    ></v-skeleton-loader>
</template>

<style lang="scss">
    .v-application code {
        box-shadow: none !important;
    }

    .code-container {
        max-height: 500px;
    }

    .v-application code::after, .v-application code::before, .v-application kbd::after {
        content: none !important;
    }

    .code-skeleton {
        background: #2d2d2d;
        padding: 1em;
        margin: .5em 0;
        overflow: auto;
        border-radius: 0;
    }
</style>

<script>
import Prism from 'prismjs';
require('prismjs/plugins/line-numbers/prism-line-numbers.css');
require('prismjs/plugins/line-numbers/prism-line-numbers.js');
require('prismjs/components/prism-python');
require('prismjs/components/prism-yaml');
require('prismjs/components/prism-c');
require('prismjs/components/prism-cpp');
require('prismjs/components/prism-arduino');
require('prismjs/components/prism-shell-session');
require('@/assets/prism.css')

export default {
    props: ['code', 'path', 'url', 'lang', 'lines'],

    data: () => ({
        formatted: '',
        loading: true,
        num_lines: 0,
    }),

    created() {
        //loadLanguages(['html', 'javascript', 'php', 'c++'])
        this.num_lines = this.lines ? this.lines : 1;


        if(!this.code && this.path){
            this.$http.get(this.path).then(async (response) => {
                this.format(response.data)
                this.loading = false
            })
        }
        else if(this.code) {
            this.format(this.code)
            this.loading = false;
        }
    },

    methods: {
        format(data) {
            this.formatted = Prism.highlight(data, this.getLanguages()[this.lang], this.lang)
            var NEW_LINE_EXP = /\n(?!$)/g;
            var match = this.formatted.match(NEW_LINE_EXP);
            var linesNum = match ? match.length + 1 : 1;
            this.numLines = linesNum;
        },

        getLanguages() {
            return {
                'html': Prism.languages.html,
                'javascript': Prism.languages.javascript,
                'php': Prism.languages.php,
                'c++': Prism.languages.clike,
                'arduino': Prism.languages.arduino,
                'css': Prism.languages.css,
                'python': Prism.languages.python,
                'yml': Prism.languages.yml,
                'shell-session': Prism.languages['shell-session'],
            }
        },

        getTimeout(ms) {
            return new Promise(resolve => {
                setTimeout(() => resolve(), ms);
            })
        },
    }
}
</script>