<template>
    <v-container row wrap justify-start align-start class="align-self-center" mt-12>
        <v-flex xs12>
            <h1 class="title">Week 8</h1>
            <span class="subtitle-1">Using the MPU6050 of Week 6 as an Input Device</span><br><br>
            <p class="body-1">
                The MPU6050 in Week 6 was connected using an I²C connection. IIC, I2C or I²C all describe the same thing, which, in its most simple form of description, is just a serial connection. I²C works using a master and one or more slaves. Each transaction between the master and the slaves begins with a START message and ends with a STOP message. In case of the MPU6050 the I²C connection is handled by a Library of <a href="https://github.com/jrowberg/i2cdevlib" target="_blank">Jeff Rowberg</a> and works for Arduino. Since my PCB from Week 6 supports the Arduino IDE I had no trouble using it and was able to follow the gide from <a href="https://components101.com/sensors/mpu6050-module" target="_blank">components101.com</a>. The following images represent how it was connected on the pcb.
            </p>
            <v-row justify="center">
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week8/schema.jpg"></v-img>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week8/connection.jpg"></v-img>
                </v-col>
            </v-row><br><br>
            <p class="body-1">
                The following block of code initializes the I²C connection between my PCB and the MPU6050. It uses the I²C Library, the MPU6050 Library and the Wire library for Arduino, creates the Variable for the MPU6050 in line 4 and then Initializes it in the setup.
            </p>
            <prism-highlight path="assets/tasks/week8/connection_code.txt" lang="arduino" :lines="17"></prism-highlight>
            <br><br>
            <p class="body-1">
                After initializing the MPU I had to reset the Gyroscope and Accelerometer offset values. The following snippet does just that and enables the DMP function. It also gets the packetSize and current fifoCount for one transaction.
            </p>
            <prism-highlight path="assets/tasks/week8/reset_gyro.txt" lang="arduino" :lines="17"></prism-highlight>
            <br><br>
            <p class="body-1">
                Inside the loop we wait for a full package to arrive and after that check if theres been an overflow.
            </p>
            <prism-highlight path="assets/tasks/week8/check_fifo.txt" lang="arduino" :lines="17"></prism-highlight>
            <br><br>
            <p class="body-1">
                Once a full package has arrived without problems the library handles coverting the package data into usable data in terms of a Quaternion a Float and a Vector3.
            </p>
            <prism-highlight path="assets/tasks/week8/get_measurement.txt" lang="arduino" :lines="17"></prism-highlight>
            <br><br>
            <p class="body-1">Finally this is the full code to use the MPU6050 as an Input Device.</p>
            <prism-highlight path="assets/tasks/week7/mpu_code.txt" lang="arduino" :lines="17"></prism-highlight>
        </v-flex>
    </v-container>
</template>

<style lang="scss">
    .inline-video {
        position: relative !important;
    }
</style>

<script>
/* eslint-disable */

export default {
  
};
</script>