<template>
    <v-container row wrap justify-start align-start class="align-self-center" mt-12>
        <v-flex xs12>
            <h1 class="title">Week 5</h1>
            <span class="subtitle-1">Using the 3d Printer</span><br><br>
            <p class="body-1">
                Using the 3d Printer is generally an easy task. 3d Printers are additive methods of creating components for projects. Instead of removing material to create the form one wishes to use the printer gradually adds the material towards the final form. This is very helpful towards creating complex objects that would be very hard to make with the lasercutter.
            </p>
            <p class="body-1">
                Because I had a new Idea for my Final Project I decided to use the 3d Print to create the main frame for my final project. My goal in this task was to create the outlines of a Dodecahedron in a way that the could be put together easily and that the insides of the edges would all fit one NeoPixel strip exactly. First thing I did was head over to Fusion360 to create the 3d Model.
            </p>
            <p class="body-1">
                Because a single large Dodecahedron was too big even for the large 3d Printers I decided to create the edges for every face individually and stick them together in the end. The following images in order show the edge facing outside, the edge facing inside and the way the edges are put together.
            </p>
            <v-row justify="center">
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week5/fusion_outside.jpg"></v-img>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week5/fusion_inside.jpg"></v-img>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week5/fusion_connected.jpg"></v-img>
                </v-col>
            </v-row>
            <br><br>
            <p class="body-1">
                The final 3d Model in Fusion then looked like this.
            </p>
            <v-row justify="center">
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week5/fusion_full_1.jpg"></v-img>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week5/fusion_full_2.jpg"></v-img>
                </v-col>
            </v-row>
            <br><br>
            <p class="body-1">
                After creating the 3d Model I headed over to Cura to prepare the model for printing. I used a ZigZag Support Pattern with an overhang angle of 70°.
            </p>
            <v-row justify="center">
                <v-col cols="12" sm="6" md="6">
                    <v-img src="assets/tasks/week5/cura_sliced.jpg"></v-img>
                </v-col>
            </v-row>
            <br><br>
            <p class="body-1">
                After saving the file to an sd-card it could be inserted into the printer for the printing process to begin. The Time it takes to print is calculated by cura beforehand. In my case it took roughly 1 1/2 hours for each part. As I had to print 12 Parts it took around 18 Hours spread across the course of a week.
            </p>
            <v-row justify="center">
                <v-col sm="6" cols="12" md="6">
                    <div class="video-holder">
                        <video autoplay loop class="video inline-video" style="width:100%;">
                            <source src="assets/tasks/week5/printing.mp4" type="video/mp4">
                        </video> 
                    </div>
                </v-col>
                <v-col sm="6" cols="12" md="6">
                    <div class="video-holder">
                        <video autoplay loop class="video inline-video" style="width:100%;">
                            <source src="assets/tasks/week5/printing2.mp4" type="video/mp4">
                        </video> 
                    </div>
                </v-col>
            </v-row><br><br>
            <p class="body-1">
                After I had a few printed parts I checked if it all fitted together after printing as intended and it did.
            </p>
            <v-row justify="center">
                <v-col cols="12" sm="6" md="6">
                    <v-img src="assets/tasks/week5/parts.jpg"></v-img>
                </v-col>
            </v-row>
            <br><br>
            <p class="body-1">
                It worked. I then proceeded by printing all the remaining parts and stuck them together using hot glue. The final result can be seen down below.
            </p>
            <v-row justify="center">
                <v-col sm="6" cols="12" md="4">
                    <div class="video-holder">
                        <video autoplay loop class="video inline-video" style="width:100%;">
                            <source src="assets/tasks/week5/final_1.mp4" type="video/mp4">
                        </video> 
                    </div>
                </v-col>
            </v-row>
            <h2>Ressources</h2>
            <v-btn color="primary" href="https://drive.google.com/open?id=1cDNUAnJb2iAxkLkkRQHcOH7tGn37cD1z" target="_blank">STL Single Frame</v-btn>
            <br><br>
            <v-btn color="primary" href="assets/tasks/week5/Dodecahedron.f3d" target="_blank">F3D Dodecahedron</v-btn>
        </v-flex>
    </v-container>
</template>


<script>
/* eslint-disable */

export default {
  
};
</script>