<template>
    <v-container row wrap justify-start align-start class="align-self-center" mt-12>
        <v-flex xs12>
            <h1 class="title">Week 9</h1>
            <span class="subtitle-1">Using Neopixels as an Output Device</span><br><br>
            <p class="body-1">
                This week we are learning about output devices. Every output device is handled a little differently. Some are controlled via data pins, some via a serial connection and others using a pulse width modifier. I focused on using the Neopixel strips as an output device to create little "lightshows" for my final project, the dodecahedron.
                <br><br>
                As I was already working on the dodecahedron at the point of writing this, I used the neopixel strips that were already soldered onto the frame for the example of the output devices.
            </p>
            <v-row justify="center">
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week9/led_strips.jpg"></v-img>
                </v-col>
            </v-row><br><br>
            <p class="body-1">
                I followed the <a target="_blank" href="https://learn.adafruit.com/adafruit-neopixel-uberguide/basic-connections">NeoPixel connection guide</a> to get started for testing. The following Image represents where the VCC, Data Pin and GND are connected to the NeoPixel strip. The Magic of NeoPixels is that they use an Input Voltage of 5V, which is exactly the same as Arduino and my breadboard are using, and at the same time you can controll hundreds of pixels through one pin of your breadboard.
            </p>
            <v-row justify="center">
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week9/neopixel_connection.jpg"></v-img>
                    Credit: <a target="_blank" href="https://learn.adafruit.com/adafruit-neopixel-uberguide/basic-connections">Adafruit Neopixel Connection Guide</a>
                </v-col>
            </v-row><br><br>
            <h2>Programming the Neopixels</h2>
            <p class="body-1">
                The <a target="_blank" href="https://learn.adafruit.com/adafruit-neopixel-uberguide/arduino-library-use">NeoPixel Library</a> is a great place to get started with using the NeoPixels. The basic way to include and setup your library is shown in the Codeblock below.
            </p>
            <prism-highlight path="assets/tasks/week9/library_include.txt" lang="arduino" :lines="17"></prism-highlight>
            <br><br>
            <p class="body-1">
                After setting up the strip, the following basic functions can be used to controll your strip.
            </p>
            <prism-highlight path="assets/tasks/week9/basic_functions.txt" lang="arduino" :lines="17"></prism-highlight>
            <br><br>
            <p class="body-1">
                Arduinos builtin delay function may now be used to create a small animation or show with the pixels. Taken from the strandtest example inside the NeoPixel library, the codeblock below shows how to render a simple colorwhipe.
            </p>
            <prism-highlight path="assets/tasks/week9/animation.txt" lang="arduino" :lines="5"></prism-highlight>
            <br><br>
            <p class="body-1">
                A more complex version of the strandtest enables fance colorful whipes like this one:
            </p>
            <v-row justify="center">
                <v-col sm="6" cols="12" md="6">
                    <div class="video-holder">
                        <video controls loop class="video inline-video" style="width:100%;">
                            <source src="assets/tasks/week9/led_strips_short.mp4" type="video/mp4">
                        </video> 
                    </div>
                </v-col>
            </v-row>
        </v-flex>
    </v-container>
</template>

<style lang="scss">
    .inline-video {
        position: relative !important;
    }
</style>

<script>
/* eslint-disable */

export default {
  
};
</script>