<template>
    <v-container row wrap align-center class="align-self-center" mt-12>
        <v-flex xs12>
            <span class="headline">Who am I</span><br><br>
            I am a student at Hochschule Rhein-Waal and this page is designed to guide you through the Projects I made for the course of Digital Fabrication.
        </v-flex>
    </v-container>
</template>

<style lang="scss">
    .align-self-center {
        margin: 0 auto !important;
    }
</style>

<script>
export default {
    data: () => ({
        profile_picture: Math.random().toString(36).substring(7),
    })
}
</script>