<template>
    <v-container row wrap justify-start align-start class="align-self-center" mt-12>
        <v-flex xs12>
            <h1 class="title">Final Project</h1>
            <span class="subtitle-1">Creating an infinity dodecahedron</span><br><br>
            <v-img src="assets/tasks/final/header.jpg"></v-img>
            <br><br>
            <h2>Creating the Frame</h2>
            <span class="subtitle-2">3d Printing</span>
            <p class="body-1">
                The Goal of this Final Project was to create a dodecahedron that has one-sided mirrors facing inwards, creating an endless mirror effect using led-strips on this inside edges of the dodecahedron. I started by designing the dodecahedron in Fusion360 as explained in <router-link :to="'/tasks/week5'">Week 5</router-link>. Every Pentagon of the Dodecahedron is printed individually due to the size of the dodecahedron. The following Images represent the steps taken in Fusion360 to put together the Dodecahedron.
            </p>
            <v-row justify="center">
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week5/fusion_outside.jpg"></v-img>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week5/fusion_inside.jpg"></v-img>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week5/fusion_connected.jpg"></v-img>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week5/fusion_full_1.jpg"></v-img>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/week5/fusion_full_2.jpg"></v-img>
                </v-col>
            </v-row><br><br>
            <p class="body-1">
                After designing the Frame I sent it to the 3d Printer to create the Frame.
            </p>
            <v-row justify="center">
                <v-col sm="6" cols="12" md="6">
                    <div class="video-holder">
                        <video autoplay loop class="video inline-video" style="width:100%;">
                            <source src="assets/tasks/week5/printing.mp4" type="video/mp4">
                        </video> 
                    </div>
                </v-col>
                <v-col sm="6" cols="12" md="6">
                    <div class="video-holder">
                        <video autoplay loop class="video inline-video" style="width:100%;">
                            <source src="assets/tasks/week5/printing2.mp4" type="video/mp4">
                        </video> 
                    </div>
                </v-col>
            </v-row><br><br>
            <p class="body-1">
                Every edge was layed out to make it easy to stick together in the end by the outsides the following way.
            </p>
            <v-row justify="center">
                <v-col cols="12" sm="6" md="6">
                    <v-img src="assets/tasks/week5/parts.jpg"></v-img>
                </v-col>
            </v-row>
            <br><br>
            <span class="subtitle-2">Lasercutting</span>
            <p class="body-1">
                Afterwards I used the Lasercutter to cut out the Plexiglas forms. Every Pentagon was 3mm thick and I used the following settings:
            </p>
            <v-row justify="center">
                <v-card
                    class="d-inline-flex pa-8"
                    outlined
                >
                    <tr>
                        <li>10% Speed</li>
                        <li>100% Power</li>
                        <li>100% Frequency</li>
                        <li>Speed Comp</li>
                        <li>Power Comp</li>
                    </tr>
                </v-card>
            </v-row>
            <br>
            <v-img src="assets/tasks/final/pentagon_cutout.png"></v-img>
            <br><br>
            <p class="body-1">
                After Cutting out the Pentagons I put on the one-sided mirror foil shown in the following image.
            </p>
            <v-img src="assets/tasks/final/foil.jpg"></v-img>
            <br><br>
            <p class="body-1">
                Then I put together the dodecahedron. I created the hole for the main cable by using sandpaper on one side each of three of the frame parts of the dodecahedron until putting them together could fit a clipped power cord through the created hole. Then I stuck together the frames using hot glue and put in the Plexiglas. The Plexiglas does not require glue, because the pressure of the frame holds in place well enough.
            </p>
            <v-row justify="center">
                <v-col sm="6" cols="12" md="4">
                    <div class="video-holder">
                        <video autoplay loop class="video inline-video" style="width:100%;">
                            <source src="assets/tasks/week5/final_1.mp4" type="video/mp4">
                        </video> 
                    </div>
                </v-col>
                <v-col sm="6" cols="12" md="4">
                    <div class="video-holder">
                        <video autoplay loop class="video inline-video" style="width:100%;">
                            <source src="assets/tasks/final/dodecagredon_with_glas.mp4" type="video/mp4">
                        </video> 
                    </div>
                </v-col>
            </v-row><br><br>
            <p class="body-1">
                Due to it beeing dark inside the dodecahedron and the plexiglas beeing slightly tinted, it just looks black from the outside when there is no light inside.
            </p>
            <h2>Creating the Power Supply</h2>
            <span class="subtitle-2">Lasercutting</span>
            <p class="body-1">
                I used neopixels for the lighting of the Dodecahedron. I decided to use a strip with 144 pixels per meter. One side for a single strip is 94.973‬mm long. The full Dodecahedron has 30 sides, which makes a total length of 2,849.19‬mm which is 2.849 meters. Multiplying the number of pixels by the total length which totals around 410 required neopixels. I googled around and found out that the maximum power output of one neopixel is around 60mA. 410 x 60mA totalled to around 25 Amps when all neopixels are at full white with full brightness. I got a powersupply from amazon with a maximum output of 30 Amps which can be found <a href="https://www.amazon.de/HAILI-Universal-Schaltnetzteil-CCTV-Kamera-LED-Streifenlicht/dp/B07Q2VPPL1/ref=sr_1_6?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=power+supply+5V+30A&qid=1581038324&sr=8-6" target="_blank">here</a>.
            </p><br>
            <p class="body-1">
                I then designed a box for the powersupply and the controller in Fusion360. The following image shows the Design.
            </p>
            <v-row justify="center">
                <v-col cols="12" sm="6" md="8">
                    <v-img src="assets/tasks/final/energy_box_1.jpg"></v-img>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                    <v-img src="assets/tasks/final/energy_box_2.jpg"></v-img>
                </v-col>
            </v-row><br><br>
            <p class="body-1">
                The holes at the back and the front of the box are fitted to include the following components (Click the image for the link):
            </p>

            <v-row justify="center">
                <v-col cols="12" sm="6" md="4" lg="3">
                    <a href="https://www.amazon.de/gp/product/B01H5MK3OI/ref=ppx_yo_dt_b_asin_title_o08_s00?ie=UTF8&psc=1" target="_blank">
                        <v-img :aspect-ratio="1" src="assets/tasks/final/plug_1.jpg"></v-img>
                        <span class="subtitle">Power plug for power supply</span>
                    </a>
                </v-col>
                <v-col cols="12" sm="6" md="4" lg="3">
                    <a href="https://www.amazon.de/gp/product/B000NJ2G5U/ref=ppx_yo_dt_b_asin_title_o06_s01?ie=UTF8&psc=1" target="_blank">
                        <v-img :aspect-ratio="1" src="assets/tasks/final/plug_2.jpg"></v-img>
                        <span class="subtitle">Power plug for Dodecahedron</span>
                    </a>
                </v-col>
                <v-col cols="12" sm="6" md="4" lg="3">
                    <a href="https://www.adafruit.com/product/1445" target="_blank">
                        <v-img :aspect-ratio="1" src="assets/tasks/final/button.jpg"></v-img>
                        <span class="subtitle">Panel Mount Button x2</span>
                    </a>
                </v-col>
                <v-col cols="12" sm="6" md="4" lg="3">
                    <a href="https://www.exp-tech.de/sensoren/sonstige/6033/panel-mount-10k-potentiometer-breadboard-friendly-10k-linear" target="_blank">
                        <v-img :aspect-ratio="1" src="assets/tasks/final/potentiometer.jpg"></v-img>
                        <span class="subtitle">Potentiometer</span>
                    </a>
                </v-col>
            </v-row><br><br>
            <p class="body-1">
                I then cut out the power supply using the lasercutter and screwed or glued in the components listed above. Room for improvement lies in adding a hole to put the usb cable through in the end while programming the dodecahedron. I fixed this error by drilling a hole in the top after having cut it. The finished power supply looks like this.
            </p>

            <v-row justify="center">
                <v-col cols="12" sm="6">
                    <v-img src="assets/tasks/final/power_supply_back.jpg"></v-img>
                    <span class="subtitle">Back</span>
                </v-col>
                <v-col cols="12" sm="6">
                    <v-img src="assets/tasks/final/power_supply_front.jpg"></v-img>
                    <span class="subtitle">Front</span>
                </v-col>
            </v-row><br><br>

            <h2>Creating the Controller</h2>
            <span class="subtitle-2">Milling and Soldering</span>

            <p class="body-1">
                To create the Controller I first designed the PCB (Printed Circuit Board) in Eagle. I used the atmega328p as a controller and the CH340G for the usb to serial connection. To connect and use the CH340G I was inspired by the <a href="https://github.com/satsha-utilities/satsha-ttl" target="_blank">satsha-ttl</a> board. The CH340G is used to enable a usb cable to be connected and programm the controller directly through said cable or use it for a serial connection. The Design of the board looks as followed.
            </p>
            <v-row justify="center">
                <v-col cols="12">
                    <v-img src="assets/tasks/final/pcb/full.png"></v-img>
                    <span class="subtitle">Full Design</span>
                </v-col>
                <v-col cols="12">
                    <v-img src="assets/tasks/final/pcb/traces.png"></v-img>
                    <span class="subtitle">Traces</span>
                </v-col>
                <v-col cols="12">
                    <v-img src="assets/tasks/final/pcb/schematics.png"></v-img>
                    <span class="subtitle">Schematics</span>
                </v-col>
            </v-row><br><br>
            
            <p class="body-1">
                Before beeing able to cut out the board I used <a href="http://fabmodules.org/" target="_blank">fabmodules.org</a> to convert the traces to a usable .rml file for the Roland Mill. So I selected the image as an input, the Roland Milling Machine MDX-40 and the settings for the Traces. Additional Settings I set and the final result can be seen in the images below.
            </p>

            <v-row justify="center">
                <v-col cols="12" sm="4" md="3">
                    <v-img src="assets/tasks/final/traces_settings.jpg"></v-img>
                    <span class="subtitle">Set origin to 0 and speed to 2mm/s for Traces</span>
                </v-col>
                <v-col cols="12" sm="4" md="3">
                    <v-img src="assets/tasks/final/outlines_settings_1.jpg"></v-img>
                    <span class="subtitle">Set origin to 0 and speed to 4mm/s for outlines</span>
                </v-col>
                <v-col cols="12" sm="4" md="3">
                    <v-img src="assets/tasks/final/outlines_settings_2.jpg"></v-img>
                    <span class="subtitle">For Outlines: Set Tool Diameter to 1mm</span>
                </v-col>
                <v-col cols="12">
                    <v-img src="assets/tasks/final/traces.jpg"></v-img>
                    <span class="subtitle">Traces</span>
                </v-col>
                <v-col cols="12">
                    <v-img src="assets/tasks/final/outlines.jpg"></v-img>
                    <span class="subtitle">Outlines</span>
                </v-col>
            </v-row><br><br>

            <p class="body-1">
                Milling the Board took the same steps as described in <router-link target="_blank" to="/tasks/week4">Week 4</router-link>.
            </p>

            <v-row justify="center">
                <v-col cols="12" sm="6" md="6">
                    <v-img src="assets/tasks/final/milling.jpg"></v-img>
                </v-col>
            </v-row><br><br>

            <p class="body-1">
                And after the Milling I proceeded by soldering the required components onto the board.
            </p>
            <v-row justify="center">
                <v-col cols="12" sm="6" md="6">
                    <v-img src="assets/tasks/final/soldering.jpg"></v-img>
                </v-col>
            </v-row><br><br>

            <p class="body-1">
                Before beeing able to use the Serial Connection via USB it is required to install the Arduino Bootloader on the board using the MISO, MOSI and SCK pins. This can be done by using a different Arduino as an ISP. Theres lots of information that can be found online on how that works. One of the Tutorials for instance can be found <a target="_blank" href="https://www.arduino.cc/en/Tutorial/ArduinoToBreadboard">here</a>.
            </p>

            <h2>Soldering the Dodecahedron</h2>

            <p class="body-1">
                The biggest hassle was to solder the Dodecahedron. Every LED strip hat tiny pads that one break off frome time to time. I would recommend on using Neopixel strips that are less dense or have a better production value. I followed the color paths from one side to the other for the path the data cable followed inside the dodecahedron. So I ended up with 3 main Data paths that split into trees along the Dodecahedron. If you connect two neopixel strips in parallel at their base of the Data connection, they will both use the same signal. So if you turn on the 3rd LED in Arduino both of them will have their 3rd LED turned on.
            </p>
            <v-row justify="center">
                <v-col cols="12" sm="6" md="6">
                    <v-img src="https://place-hold.it/800x500&text=Solder%20Process%20Image"></v-img>
                    <span class="subtitle">Soldering Image</span>
                </v-col>
            </v-row><br><br>

            <p class="body-1">
                I cut off cold cable at the end for the VCC, GND and DATA connection thats going to the Dodecahedron and stuck it through the hole I had sanded down to connect it to the base of the led strips.
            </p>

            <v-row justify="center">
                <v-col cols="12" sm="6" md="6">
                    <v-img src="assets/tasks/final/data_cable.jpg"></v-img>
                </v-col>
            </v-row><br><br>

            <h2>Putting it all together</h2>
            <p class="body-1">
                After Everything was done, I soldered the final cables inside the powersupply. This included cables at the buttons with female headers on the other side to easily connect them to any board used for controlling it and also the main cables that run from the Power plug to the power supply and from the power supply to the back of the Box where the Dodecahedron is connected. I programmed a small lightshow for testing purposes and connected everything and turned on the box at the back.
                <br><br>
                Obiously nothing worked out that easily throughout the course of this project. Actually nothing worked out in the beginning. From bad traces on the PCB, to unfitting Plexiglas panels due to scew created in the process of glueing together the frame of the dodecahedron. Some thing you should know:
            </p><br>

            <v-card>
                <v-card-title>Tips and Tricks</v-card-title>
                <v-card-text>
                    <span class="headline">Skew in Frame</span><br>
                    It can get quite hard to fit all the Glas Panels into the Dodecahedron after sticking it together. I expect this to be due to skew created from forcing the frame into place unperfectly during sticking it together. I am guessing this can be resolved by having the glaspanels inside the frames already while sticking them together, this will force the dodecahedron to have the fitting or no skew for the panels when putting the frame together. Feel free to tell me how it worked out if you should try it.
                    <br><br>
                    <v-divider></v-divider>
                    <br>
                    <span class="headline">Bad Reflection Quality</span><br>
                    Something I noticed is that even if its Minimal, Plexiglas and my reflection foil have a different rate at which the expand or retract in different temperature conditions. In some temperatures this leads to a very unclear reflection of the leds far down the line of reflections. This does not look very fancy. I expect this error to be due to a slight shift of the foil that is stuck ontop of the glas, creating a slight abberation through the film ontop of the glas and thereby creating an unclear reflection. When creating your dodecahedron, either use real glas and a milling machine (Expensive) or use a foil that is specifically designed for plexiglas (Not as expensive as glas but still more expensive than mine). If you have a better Idea or actually qualified to explain my error, please feel free to contact me at the mail given below and I will update this section of the documentation to match the actual facts rather than what I believe went wrong.
                    <br><br>
                    <v-divider></v-divider>
                    <br>
                    <span class="headline">Bad LED strip</span><br>
                    Pay more, get more. If you want it to work over a longer span of time, dont save money on the LEDs.

                </v-card-text>
            </v-card><br><br>
            <p class="body-1">
                The final Dodecahedron can be seen below.
            </p>
            <v-responsive :aspect-ratio="16/9">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/wjpPzIrb0K4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </v-responsive>
            <br><br>
            <h2>Downloads</h2>
            <br>
            <v-btn color="primary" href="assets/tasks/final/downloads/Frame.stl">Single Dodecahedron frame STL</v-btn>
            <br><br>
            <v-btn color="primary" href="assets/tasks/week5/Dodecahedron.f3d">Dodecahedron F3D</v-btn>
            <br><br>
            <v-btn color="primary" href="assets/tasks/final/downloads/Pentagons.dxf">Pentagons Cutout DXF</v-btn>
            <br><br>
            <v-btn color="primary" href="assets/tasks/final/downloads/ContainerBox.dxf">Power Supply Cutout DXF</v-btn>
            <br><br>
            <v-btn color="primary" href="assets/tasks/final/downloads/PowerSupply.f3d">Power Supply F3D</v-btn>
            <br><br>
            <v-btn color="primary" href="assets/tasks/final/downloads/controller_board_dodecahedron.sch" download>Controller Board Schematics SCH</v-btn>
            <br><br>
            <v-btn color="primary" href="assets/tasks/final/downloads/controller_board_dodecahedron.brd" download>Controller Board Breadoard Layout BRD</v-btn>
            <br><br>
            <v-btn color="primary" href="assets/tasks/final/downloads/power_supplies.lbr" download>Custom Power Supply for EAGLE LBR</v-btn>

            <br><br>
            <h2 id="contact">Contact</h2>
            <br>
            <p class="body-1">
                Feel free to contact me via mail <a href="mailto:jonathan.indetzki@hsrw.org">here</a>.
            </p>
        </v-flex>
    </v-container>
</template>

<style lang="scss">
    .inline-video {
        position: relative !important;
    }
</style>

<script>
/* eslint-disable */

export default {
  
};
</script>